@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Satisfy', cursive;
	background-color: rgb(199, 199, 199);
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 90%;
	margin: 1% 5%;
}

.groceries {
	min-height: 100vh;
	width: 600px;
	background-color: rgb(255, 229, 187);
	border-radius: 2px;
	box-shadow: 10px 10px 25px 0 #000;
}

.heading {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 3rem 0;
	font-style: italic;
}

.heading h1 {
	font-size: 3rem;
	text-shadow: 3px 3px 6px #ffd000;
}

.heading i {
	font-size: 4rem;
	color: #ffd000;
	text-shadow: 1px 1px 3px #000;
}

.addToList {
	display: flex;
	align-items: center;
	justify-content: center;
}

.pencil {
	margin-right: 20px;
	font-size: 2rem;
	text-shadow: 1px 1px 3px #ffd000;
}

.userInput {
	width: 70%;
	font-family: 'Satisfy', cursive;
	font-size: 2rem;
	background: inherit;
	border: none;
	border-bottom: 3px solid #000;
	border-radius: 6px;
	outline: none;
}

.trash {
	font-size: 1rem;
	margin-left: 2rem;
	color: crimson;
	cursor: pointer;
}

.allItems {
	margin-left: 15%;
	padding-top: 2rem;
	user-select: none;
}

h2 .item {
	margin: 0;
	padding: 0;
	padding-left: 4rem;
	cursor: pointer;
	user-select: none;
}

@media (max-width: 420px) {
	.heading h1,
	.heading i {
		font-size: 2rem;
	}
}
